@{
    ViewData["Title"] = "About Us";
}

<h2>About Us</h2>
<p>Welcome to ! I am a e developer with experience in ...</p>
<p>Here you can find more information about my background, skills, and projects.</p>
