@{
    ViewData["Title"] = "Home Page";
}

<!-- Navigation Bar -->


<!-- Jumbotron -->
<div class="jumbotron mt-4">
    <h1 class="display-4">Welcome to My Portfolio</h1>
    <p class="lead">This is a simple portfolio to showcase my projects and skills.</p>
    <hr class="my-4">
    <p>Explore the sections to learn more about me and my work.</p>
    <a class="btn btn-primary btn-lg" href="/Home/About" role="button">Learn more</a>
</div>

<!-- Include Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
